

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    
  }

li {
    float: left;
    font-style: Bold;
    
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: red;
    color: white;
  }

h1{
    background-color: green;
    position: center;
}